/*BOTONES*/
a.btn,
.btn{
    margin-right:15px;
    margin-bottom:10px;
}
/*Primario*/
a.btn.btn-primary,
.btn.btn-primary{
    background: #26a746 !important;
    border: none;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    padding:16px 49px;
    border-radius: 5px;
}
a.btn.btn-primary:hover,
.btn.btn-primary:hover{
    background: #1e9b3a !important;
}

/*Secundario*/
a.btn.btn-secondary,
.btn.btn-secondary{
    background: #FFF !important;
    border: none;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    padding:16px 49px;
    box-shadow: 0px 7px 27px rgba(208,208,234,0.3);
    border-radius: 5px;
}
a.btn.btn-secondary:hover,
.btn.btn-secondary:hover{
    color: #1e9b3a;
    box-shadow: 0px 7px 27px rgba(20,102,38,0.1);
}

/*Terciario*/
a.btn.btn-default,
.btn.btn-default{
    background: #FFF !important;
    border: none;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 700;
    color: #24a744;
    padding:15px 48px;
    border-radius: 5px;
    border:1px solid #24a744;
}
a.btn.btn-default:hover,
.btn.btn-default:hover{
    background-color: #1e9b3a !important;
    color: #FFF;
    padding:16px 49px;
    border:0px;
}

/*Link*/
a.btn.btn-link,
.btn.btn-link{
    background: transparent !important;
    border: none;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 14px;
    font-weight: 700;
    color: #24a744;
    padding:16px 16px;
    border-radius: 5px;
}
a.btn.btn-link:hover,
.btn.btn-link:hover{
    text-decoration: underline;
}


button:focus{
    outline:none;
}



