/*ETIQUETAS*/

span.etiqueta{
    display: inline-block;
    padding:0px 12px;
    color:#090a0a;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 12px;
    font-weight: 400;
    background-color:#e5ecf1;
    height:28px;
    line-height: 28px;
    border-radius:5px;
}
span.etiqueta b{
    display: inline-block;
    font-weight: normal;
    padding:0 0 0 6px;
}
span.etiqueta i{
    float: left;
    height: 28px;
    background-position: center center;
    background-size: 28px;
    width: 28px;
}
span.etiqueta.check{
    padding-left:33px;
    background:#e5ecf1 url('../../assets/images/general/im-check.png') 8px center no-repeat;
}
span.etiqueta.black{
    color:#FFF;
    background-color: #111827;
}

